.site {
    // position: relative;
    // width: 100vw;
}

.site-content {
    @include animation(fadein 0.5s ease-out 0.25s backwards);
    padding: ms(2) ms(0);
    margin: 0 auto;
    max-width: 58em;
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "header/header";

/*--------------------------------------------------------------
## Layout
--------------------------------------------------------------*/
@import "layout/layout";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Home
--------------------------------------------------------------*/
@import "home/home";

/*--------------------------------------------------------------
## Archive
--------------------------------------------------------------*/
@import "archive/archive";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "footer/footer";

/*--------------------------------------------------------------
## 404
--------------------------------------------------------------*/
@import "404/404";

/*--------------------------------------------------------------
# Templates
--------------------------------------------------------------*/
@import "templates/templates";
