.site-footer {
  padding: 1.5em ms(0);
  margin: 0 auto;
  max-width: 58em;
  color: $color__text-aside;
  text-align: center;
  border-top: 1px solid $color__border-base;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .site-info {
    margin: 0 0 ms(2);
    li {
        display: inline-block;
        text-transform: uppercase;
        font-size: ms(-3);
        letter-spacing: ms(-15);
        margin: 0 ms(0);
    }
  } //.site-info

  a {
    display: inline-block;
    //color: $color__footerlink;
    text-decoration: none;
    &:hover {
      //color: $color__footerlink-hover;
    }
  }

} //.site-footer

/*--------------------------------------------------------------
## Sponsors
--------------------------------------------------------------*/
@import "sponsors";
