/*--------------------------------------------------------------
## About Sections
--------------------------------------------------------------*/
//@import "about";

//History
.page-about .widget figure {
  margin-bottom: ms(2);
  blockquote {
    line-height: 1;
    font-size: ms(3);
    margin-bottom: ms(-4);
    color: $color__text-highlight;
  }
  cite {
    display: block;
    width: 100%;
    text-align: right;
    color: $color__text-highlight;
  }
}

// Board
ul.board-members {
  @include display(flex);
  @include flex-wrap(wrap);
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    @include display(flex);

    width: 22%;
    margin-right: 4%;
    &:nth-child(4n) {
      margin-right: 0;
    }

    @include respondTo(upto-medium) {
      width: 46%;
    }

    figure {
      @include flex-direction(column);
      img {
        max-width: 100%;
      }
      h2 {
        font-size: ms(0);
        margin: 0 0 ms(-4);
      }
      p {
        margin: 0;
        font-size: ms(-1);
        line-height: 1;
      }
    }
  }
}



// Sponsors
ul.sponsors-grid {
  list-style: none;
  margin: 0 0 6rem;
  padding: 1px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-gap: 1px;

  background: $color__background-hr;

  li {
    overflow: hidden;
    background: white;

    &:nth-child(1), // Trumer Pils
    &:nth-child(2) { // Founders
      grid-column: auto / span 6;
    }

    &:nth-child(3), // Lyft
    &:nth-child(4), // Norcal
    &:nth-child(5){ // Recology
      grid-column: auto / span 4;
    }

    &:nth-child(6), // Bay Times
    &:nth-child(7), // Betty's List
    &:nth-child(8), // GFTA
    &:nth-child(9) { // SF
      grid-column: auto / span 3;
    }

  }//li

  a {
    display: block;
    transition: transform 250ms ease-in-out;

    &:hover {
      transform: scale(1.05);
      transition: transform 150ms ease-in-out;
    }//&:hover

  }//a

}//ul.sponsors-grid
