// .site-header-image-wrap {
//   overflow: hidden;
//   width: 100%;
//   height: 100%;
//   @include position(absolute, 0);
// }
// .site-header-image {
//   @include animation(fadein-images 1s ease-out backwards, image-pulse 15.0s ease-in-out infinite alternate);
//   @include position(absolute, 0);
//   line-height: 0;
//   opacity: 0.1;
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

.site-header .cover-image img {
  @include respondTo(upto-medium) {
    width: 100%;
    height: 50vh;
    max-height: 250px;
    object-fit: cover;
    vertical-align: top;
  }
}
