.main-navigation {
	@include animation(fadein 0.5s ease-out 0.3s backwards);
	position: relative;
	width: 100%;
	height: auto;
	margin-top: ms(4);
} //.main-navigation

.site-header .main-navigation {
	font-family: $font__headings;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: ms(-10);
	line-height: 1;
	padding: 0;

  // Navigation
	a {  // All links inside navigation
		display: block;
		width: 100%;
		font-size: ms(-2);
	  letter-spacing: ms(-10);
    color: $color__headernavlink;
    text-decoration: none;
    &:hover {
    	color: $color__headernavlink-hover;
    }
  } //a

	.menu-main-navigation-container {
		@include position(absolute, null null ms(-6) 50%);
		@include transform(translateX(-50%));
		z-index: 200;
		width: 100%;

		ul { // Parent list Globals
			list-style: none;
			margin: 0;
			padding-left: 0;
			text-align: center;
			line-height: 0;

			li, a { // Globals
				line-height: 1;
				margin: 0;
				padding: 0;
			}

			li {
				display: inline-block;
				position: relative;
	      padding: 0;
	      margin: 0;

	      a {
	      	padding: ms(0) ms(2);

					@include respondTo(upto-wide) {
						padding: ms(0) ms(1);
					}

	      }

				&.current_page_item > a {
					color: $color__headernavlink-hover;
				}

			}

			// Sub-menu

			li > ul.sub-menu { // sub-menu
				display: none;
			}

			@include respondTo(atleast-medium) {

				li:hover > ul.sub-menu { // sub-menu
					display: block;
					@include position(absolute, null null null 50%);
					@include transform(translateX(-50%));
					width: ms(11);
					background: $color__background-header;
					border-radius: ms(-8);
					text-align: left;

					&:after {
						@include position(absolute, null null 100% 50%);
						@include transform(translateX(-50%));
						content: " ";
						height: 0;
						width: 0;
						border: solid transparent;
						border-bottom-color: $color__background-header;
						border-width: ms(-4);
						pointer-events: none;
					}

					li, a {
						display: block;
						width: 100%;
					}

					a {
						margin: 0;
						padding: 0 ms(2) ms(2);
					}
					li:first-child a {
						padding-top: ms(2);
					}
				} //sub-menu

			}//@include respondTo(atleast-medium)

		} //ul

		@include respondTo(upto-medium) {
			display: none;
			//opacity: 0;
	  }

	} //.menu-main-navigation-container

} //.site-header .main-navigation



/* Mobile menu. */

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle,
.menu-toggle:active,
.menu-toggle:hover {
	margin: 0 auto;
	font-family: $font__headings;
	font-weight: 400;
	font-size: ms(-2);
	text-transform: uppercase;
	letter-spacing: ms(-10);
	line-height: 1;
	border: 0 none;
	background: transparent;
	box-shadow: none;
	color: white;
	text-shadow: none;
}

@include respondTo(atleast-medium) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

@include respondTo(upto-medium) {

	.main-navigation {
		//@include position(absolute, 0 0 null 0);
		width: 100%;
		margin: 0;
		padding: ms(-8) ms(-4) ms(-2);
		background-color: $color__accent-purple;

		button.menu-toggle {
			display: block;
			width: 100%;
			padding: ms(1);
			z-index: 300;
			outline: none;

			&:focus,
			&:active {
				outline: none;
			}

		}//button.menu-toggle

		.menu-main-navigation-container {
			display: none;
		}//.menu-main-navigation-container

	}//.main-navigation

	// When Toggled
	.main-navigation.toggled {

		button.menu-toggle {
			outline: none;
			background: darken($color__accent-purple, 5%);
			&:before {
				content: 'Close ';
			}//&:before
		}//button.menu-toggle

		.menu-main-navigation-container {
			display: flex;
			justify-content: space-around;
			@include position(relative, 0 null null null);
			width: 100%;
			padding: ms(4) 0;

			ul > li {
				display: block;
				width: 100%;
				text-align: left;

				& > ul.sub-menu {
					position: relative;
					width: 100%;
					display: block;
					padding-left: ms(2);

					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: ms(0);
						width: ms(-4);
						height: 100%;
						background: darken($color__accent-purple, 5%);
					}//&:before

				}//& > ul.sub-menu

			}//ul > li

		}//.menu-main-navigation-container

	}//.main-navigation.toggled

}//@include respondTo(upto-medium)
